body {
    font-family: Arial, sans-serif;
    background-color: #868686;
    margin: 0;
    padding: 20px;
    color: #000000;
}

.quiz-container {
    background-color: #C0C0C0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    max-width: 600px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, h2 {
    font-size: 28px; /* Aumenta o tamanho da fonte para o título */
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.header h1 {
    width: 100%;
    font-size: 32px; /* Título ainda maior para destaque */
    flex: 1;
    text-align: center;
}

.header button {
    width: 20%;
    font-size: 14px; /* Botão menor */
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
}

.header button:hover {
    background-color: #218838;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #999;
    background-color: #D3D3D3;
    color: #333;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questions {
    padding: 0;
}

#questions div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"]::placeholder {
    color: #000000; /* Define a cor do placeholder como preto */
    opacity: 1; /* Garante que o placeholder fique completamente opaco */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: #d3d3d3;
    color: #000000;
    box-sizing: border-box;
}

#osso-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }
}
